<h1><%= @word.word %></h1>
<p><a href="/words/<%= @word.id %>/update_word">Edit</a></p>

<h3>Definitions:</h3>

<% if @word.definition.any? %>
<ul>
      <% @word.definition.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definition/<%= definition.id %>"><%= definition.definition %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>You have no definitions for this word!</p>
  <% end %>
<br>
<h4>Add a definition for "<%= @word.word %>":</h4>

<form action="/words/<%= @word.id %>/def" method="post">
  <div class="form-group">
    <label for="definition_text">Definition:</label>
    <input id="definition_text" name="definition_text" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Add a new definition</button>
</form>
<br>

<p><a href="/">home page</a></p>